pip~=22.2.2
zlib~=1.2.13
wheel~=0.37.1
openssl~=1.1.1s
pillow~=9.3.0
setuptools~=65.5.0
packaging~=21.3
pyparsing~=3.0.9
virtualenv~=20.16.6
distlib~=0.3.6
filelock~=3.8.0
platformdirs~=2.5.3
python~=3.9.13
certifi~=2022.9.24
six~=1.16.0
idna~=3.4
urllib3~=1.26.12
pandas~=1.4.4
pygame~=2.1.2
gtts~=2.2.4